html{font-family: 'Roboto', sans-serif;}
.highlight {
  color: #D51820;
}


body {
	background-color: #fff;
	height: 100%;
}

article {
	color: #fff;
	text-align: center;
	position: relative;
  min-height: 425px;
}
h1, h2, h3 {
  font-size: 28px;
  line-height: 38px;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto 30px;
}
h2 {
	font-size: 32px;
	font-weight: 300;
	line-height: 43px;
	letter-spacing: 0px;
	text-align: center;

	font-size: 32px;
	font-weight: 700;
	line-height: 43px;
	letter-spacing: 0px;
	text-align: center;
}

article p {
	margin: auto;
}
div.gray-bg {
	background-color: #201D27;
  color:#fff;
}

.base-layer {
  background-color: #201D27;
}
.base-layer, .gradient {
  height: 615px;
  width: 100%;
  position: absolute;
  top: 0;
}


.content {
	z-index: 1;
	position: relative;
	overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.base-layer {
	background-color: #201D27;
}

.gradient {
	background: linear-gradient(180deg, rgba(32, 46, 71, 0.65) 36.53%, rgba(32, 46, 71, 0.6175) 57.69%, rgba(32, 46, 71, 0.585) 78.84%, rgba(32, 46, 71, 0) 100%);
	mix-blend-mode: multiply;
}
.content {
  z-index: 1;
  position: relative;
  overflow: hidden;
}