.carousel {
	margin-bottom: 55px;
}

.carousel_wrapper {
	background: #F4F4F4;
	display: inline-block;
	width: 100%;

}

.carousel_wrapper ul {
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    width: auto;
    max-width: 100%;
    height: 130px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.carousel_wrapper ul::-webkit-scrollbar {
	display: none;
}

.carousel_wrapper h3 {
	color: #000;
	margin-top: 52px;
}

.carousel_wrapper li {
	list-style: none;
	display: inline-block;
	filter: grayscale(100%);
	transition: 0.2s;
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-size: 60px;
	margin: 0 20px 0 0;
	background-color: #DADADA;
	border: 0.5px solid #CDCDCD;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
	background-color: #DADADA;
	border: 0.5px solid #CDCDCD;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
}

.carousel_wrapper img {
	text-indent: -9999px;
	margin: 0 28px 0 0;
	width: 100px;
	height: 100px;
	background-color: #DADADA;
	border: 0.5px solid #CDCDCD;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
	float: left;
	width: 100px;
	height: 100px;
	background-color: #DADADA;
	border: 0.5px solid #CDCDCD;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
}


.carousel_wrapper li:hover {
	transition: 0.2s;
	filter: grayscale(0);
}
.carousel_wrapper h3 {
    color: #000;
    margin-top: 52px;
}

.scroll-arrow {
	width: 10%;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	padding: 0;
	margin: 0;
	font-size: 34px;
	transition: 0.2s;
	width: 20px;
	height: 32px;
	display: inline-block;
	top: 50%;
	background-size: cover;
	background-image: url(img/left.svg);
	text-indent: -9999px;
	margin: 0 17px 0 0;
}

.scroll-arrow:hover {
	transition: 0.2s;
	opacity: 1;
}

.scroll-arrow#scroll-right {
	background-image: url(img/right.svg);
	margin: 0 0 0 17px;
}
@media only screen and (min-width: 768px){
.carousel_wrapper ul {
    width: auto;
    max-width: 608px;
    height: 130px;
}

.carousel_wrapper ul li {
    width: 130px;
    height: 130px;
}
}

.carousel {
    margin-bottom: 55px;
}