.bfh_wrapper {
    color: #000;
}
h2.bfh {
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #444444;
    position: relative;
    margin-top: 60px;
}
h2.bfh:before {
    display: inline-block;
    width: 40px;
    height: 4px;
    content: "";
    background-color: #D51820;
    position: absolute;
    left: 0;
    /* margin-top: 20px; */
    top: 0;
    border-radius: 2px;
    left: 50%;
    margin-left: -20px;
}

.big-fair-human {
	margin-top: 53px;}
	.big-fair-human li h3 {
		font-weight: 700;
		font-size: 19.7734px;
		line-height: 23px;
	}
	
	ul.big-fair-human {
		min-width: 250px;
		display: inline-block;
	}
	
	.big-fair-human span {
		display: block;
		background-size: cover;
		margin: 0 auto 19px;
		text-indent: -9999px;
	}
	
	.big-fair-human span.fair {
		background-image: url("./img/bfh/fair.svg");
		width: 53px;
		height: 53px;
	}
	
	.big-fair-human span.authorised {
		background-image: url("./img/bfh/authorised.svg");
		width: 47px;
		height: 53px;
	}
	
	.big-fair-human span.award {
		background-image: url("./img/bfh/award.svg");
		width: 53px;
		height: 53px;
	}
	
	.big-fair-human span.available {
		background-image: url("./img/bfh/available.svg");
		width: 53px;
		height: 53px;
	}


	
	ul.big-fair-human {
		max-width: 520px;
		margin-top: 0;
	}
	@media only screen and (min-width: 768px){
		ul.big-fair-human li {
			display: inline-block;
			width: 49%;
		}
	}
	@media only screen and (min-width: 1200px){

.bfh_description {
	display: inline-block;
	width: 33%;
	vertical-align: top;
}
.bfh_description p{
	text-align:left;
	max-width: 209px;
	margin: initial;
}

.bfh_wrapper {
	padding: 100px 100px 100px 55px;
}

h2.bfh {
	font-weight: 900;
	font-size: 80px;
	line-height: 90px;
	/* or 112% */
	/* display: flex; */
	align-items: center;
	letter-spacing: -0.02em;
	max-width: 283px;
	text-align: left;
	margin: 0 0  55px 0;
}
ul.big-fair-human li p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}


h2.bfh:before {
	left: 0;
	margin-left: 0;
}

ul.big-fair-human {
	max-width: 66%;
}
	}